body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 10px;
}

.ui-tabmenu li.ui-state-active {
    border: 1px solid #FFA900;
    background: #FFE673;
}

.ui-tabmenu li.ui-state-active .ui-menuitem-text {
    color: #000;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px solid #FFA900;
    background: #FFE673;
    color: #000;
}

.ui-paginator .ui-paginator-page.ui-state-active {
    background: #FFE673;
    color: #000;
    border-color: #FFA900;
}